* { 
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*         Cabeça do site */

header {
    height: 70px;
    width: 100vw;
    background: linear-gradient(to right, #9bd3b2, #2D878C);
    
}

header > .logo { 
display: inline-block;
}

header > .logo > img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

header > .title {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -20%;
    color: rgb(253, 253, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header > .content-int {
    background-color: rgba(0, 0, 0, 0);
    height: 300px;
    width: 300px;
    display: block;
    position: relative;
    top: -100%;
    margin-left: 76%;
    padding: 10px;

}

header > .content-int > a {
    text-decoration: none;
}

header > .content-int > button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    margin
}

header > .content-int > a > img { 
    height: 30px;
    margin-top: 10px;
    margin-left: 40px;
    
}

header > .content-int > a > img:hover { 
    filter: invert(75%);
}

header > .content-int > a > .perfil { 
    height: 38px;
    position: absolute;
    margin-top: 8px;
}




/*      corpo do site */

section { 
    height: 100vh;
    width: 230px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0.1px solid rgba(128, 128, 128, 0.274);
    border-top: none;
}

section > nav > a > img {
    height: 25px;
    width: 25px;
    display: inline-block;
}

section > nav > a {
    text-decoration: none;
    display: block;
    margin-top: 15px;
}

section > nav > a > h5 {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

section > nav > a > h5:hover {
    color: #358C8F;

}

section > nav {
    margin-top: 20px;
    margin-left: 10px;
}

section > nav > a > h5 {
    display: inline-block
    
}


article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    position: absolute;

}

article > .title {
    margin-top: 20px;
    margin-left: 26px;
    color: #656565;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > .title > h1 {
    margin-bottom: 15px;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 60%;
    margin-top: 30px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    border-style: ridge;
    margin-bottom: 20px;
}

article > .line {
    margin-top: 36px;
    margin-left: 26px;
}