
main {
    position: absolute;
    background: #f2f2f2;
    top: 15%;
    right: -4;
    margin-left: 255px;
    height: 78%;
    width: 69.5%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}


.titulo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Baloo Da 2', cursive;
    margin: -22px;
    width: 899px;
    margin-left: -71px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 100px;
    position: absolute;
}