article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;

}

article > .title {
    margin-top: 20px;
    margin-left: 26px;
    color: #656565;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > .title > h1 {
    margin-bottom: 15px;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 35%;
    width: 60%;
    margin-top: 30px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    border-style: ridge;
    margin-bottom: 20px;
}

article > .form-content > .formu > h4 {
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;

}

article > .form-content > .formu > hr {
margin-top: 30px;
}

article > .form-content > .formu >  input {
    display: inline-block;
}

article > .form-content > .formu > .dados {
    display: inline-block;
    width: 80%;
}

article > .form-content > .formu {
    margin-top: 0px;
}

@media (max-width: 1000px) {

    article > .form-content {
        margin: auto;
        margin-top: 30px;
    }

    article > .title > h1 {
        text-align: center;
    }

}

article > .line {
    margin-top: 36px;
    margin-left: 26px;
}