article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;


}

article > .title {
    margin-top: 1em;
    margin-left: 2em;
    color: #656565;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > .title > h1 {
    margin-bottom: 1em;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 75%;
    width: 80%;
    margin-top: 30px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    border-style: ridge;
    margin-bottom: 20px;
}


@media (max-width: 1000px) {

    article > .form-content {
        margin: auto;
        margin-top: 30px;
    }

    article > .title > h1 {
        text-align: center;
    }

}

article > .line {
    margin-top: 36px;
    margin-left: 26px;
}

.form-content {
overflow: hidden;
}

#myInput {
    background-image: url('/img/icons8-search-more-30.png'); 
    background-position: 5px 6px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px;
  }

.Padroes-Content {

    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin-left: 35%;
    overflow: scroll;
    
    
}


ol {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: 'Baloo Da 2', cursive;
    margin-left: 2%;
    list-style: none;
}

ol::before {
    content: "📌";
}

#ListUl > a {
    font-family: 'Baloo Da 2', cursive;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 2%;
    
}

#ListUl > a:hover {
    font-size: 2em;
    color: rgb(0, 0, 70);
}

#ListUl::before {
    content: '📧';
    margin-left: 10%;
}

#ListUl {
    display: list-item;
    list-style: none;
}
