article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;


}

article > .title {
    margin-top: 1em;
    margin-left: 2em;
    color: #656565;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > .title > h1 {
    margin-bottom: 1em;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 75%;
    width: 80%;
    margin-top: 30px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    border-style: ridge;
    margin-bottom: 20px;
}


@media (max-width: 1000px) {

    article > .form-content {
        margin: auto;
        margin-top: 30px;
    }

    article > .title > h1 {
        text-align: center;
    }

}

article > .line {
    margin-top: 36px;
    margin-left: 26px;
}

.Padroes-Content {

    background-color: rgb(190, 167, 167);
    height: 100%;
    width: 90%;
}

.Listas-Content {


}
