@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');


@font-face {
    font-family: Baloo;
    src: url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
}

* { 
    margin: 0%;
    padding: 0%;


}

@media screen and (min-width: 1000px ) {

main{
    position: absolute;
    background: #f2f2f2;
    top: 114px;
    right: -4;
    margin-left: 285px;
    height: 85%;
    width: 82.5%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.titulo {
    color: rgb(0, 0, 0);
    font-size: 200%;
    font-family: 'Baloo Da 2', cursive;
    position: absolute;
    margin: -15px 0 0px -41px;
    width: 899px;
}

.box-principal {
    background: #e91212;
    width: 1210px;
    height: 600px;
    margin-top: 50px;
    border-radius: 30px;
}

.container {
    width: 700px;
}

h1 {
    display: inline-block;
    padding-top:20px;
    padding-left: 100px;
}


.box-esquerdo {
    position: absolute;
    background: white;
    width: 25%;
    height: 70%;
    margin-top:3em;
    margin-left: 5em;
    border-radius: 17px;
}

.foto-de-perfil{
    background: #A3241D;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 40px auto;
}


.box-foto img {
    
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 1px auto;


}

.nome-usuario {
    position: absolute;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 281%;
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    margin-left: 1%;
}


.box-pequeno {
    height: 60%;
    width: 80%;
}


.container-2  {
    position: absolute;
    top: 20px;
    right: -4;
    height: 100%;
    width: 66%;
    left: 31%;
}

.lista {
    top: 20px;
    height: 90%;
    width: 102%;
}

.lista li{
    text-align: center;
    position: relative;
    /* left: 21em; */
    display: inline-block;
    background: white;
    height: 27%;
    width: 25.9%;
    margin-top: 4.6em;
    margin-left: 1.8em;
    left: 9.0%;
    top: -4%;
    border-radius: 17px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

hr{
    
    margin-left: 56px;
    width: 1470px;
    margin-top: 54px;
    border-top: 1px solid #f00;
    opacity: .1;
}

.box-grande {
    position: relative;
    background: white;
    bottom: 55%;
    left: 6.2%;
    height: 58%;
    width: 87%;
    margin: 0 auto;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}



.select-estiloso { /* <div> */
    position: relative;
    background: #f9f9f9;
    width: 130px;
    height: 34px;
    overflow: hidden;
    background: url(/img/setaprabaixo-removebg-preview.png) no-repeat right; /* novo ícone para o <select> */
    background-size: 20%;
    border: 1px solid #ccc;
    border-radius: 17px;
    top: 86px;
    left: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }   

    .select-estiloso select { /* <select> */
        background: transparent; /* importante para exibir o novo ícone */
        width: 150px;
        padding: 0px 0px 0px 16px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 17px;
        height: 36px;
        color: #989EA7;
        font-family: 'Baloo Da 2', cursive;
    }      

    .select-estiloso:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }


.box-grande hr{
    margin-left: 40px;
    width: 819px;
    position: absolute;
    margin-top: 70px;
    border-top: 1px solid #f00;
    opacity: .1;
}




.box-grande p {
    font-family: 'Baloo Da 2', cursive;
    display: inline-block;
    font-weight: bold;

}

.divisao, .divisao-2, .divisao-3 {
    display: block;
    margin-top: 27px;
}
.dia{
    margin: 72px 27px 0 34px;
    font-size: 1.5em;
}

.mes { 
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 100px 0px 0px -162px;
   
}

.hora {
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 100px 0px 0px -111px;

}



.resumo {
    margin: 0px 0px 7px 0px;
}

hr.quebradelinha{
    width: 819px;
    position: absolute;
    margin-top: 45px;
    border-top: 1px solid #f00;
    opacity: .1;
    margin: 8px 0px 0px 34px;
}


.dia-2{
    margin: 11px 32px 0 38px;
    font-size: 1.5em;
}




.mes-2 { 
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -208px;
}

.hora-2 {
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -158px;
}


.resumo-2 {
    margin: 0px 0px 7px 0px;
}

hr.quebradelinha-2{
    width: 819px;
    position: absolute;
    margin-top: 45px;
    border-top: 1px solid #f00;
    opacity: .1;
    margin: 8px 0px 0px 34px;
}


.dia-3{
    margin: 11px 32px 0 38px;
    font-size: 1.5em;
}




.mes-3 { 
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -154px;
}

.hora-3 {
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -103px;
}

.resumo-3 {
    margin: 0px 0px 7px 0px;
}

hr.quebradelinha-3{
    width: 819px;
    position: absolute;
    margin-top: 45px;
    border-top: 1px solid #f00;
    opacity: .1;
    margin: 8px 0px 0px 34px;
}



.box-foto {
    position: absolute;
    background: white;
    bottom: 14.3%;
    left: 3.3em;
    height: 77%;
    width: 33%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}


div.upload {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/img/lapis-removebg-preview.png);
    overflow: hidden;
    background-size: 40px;
    background-repeat: no-repeat;
    margin: 46px 310px;

}
 
div.upload input {
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.cargo {
    position: absolute;
    background: #f9f9f9;
    bottom: 35.6%;
    left: 3.6em;
    height: 13%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.turno {
    position: absolute;
    background: #f9f9f9;
    bottom: 18.6%;
    left: 3.6em;
    height: 13%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

}


h3 {
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 13px;
    padding-top: 6px;
}


li.indicadores {
    color: black;
    font-size: 20px;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 17px;
    padding-top: 88px;
    font-weight: bold;
    text-align: left;
}


li p {
    color: #e91212;
    font-size: 45px;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 0px;
    padding-top: -18px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    margin-top: -91px;
}

.detalhamento {
    color: rgb(0, 0, 0);
    font-size: 133%;
    font-family: 'Baloo Da 2', cursive;
    position: absolute;
    margin-right: 51px;
    padding-left: 33px;
    padding-top: 36px;
    width: 899px;
    
    }


}




@media screen and (max-height: 800px ) {




main{
    position: absolute;
    background: #f2f2f2;
    top: 114px;
    right: -4;
    margin-left: 285px;
    height: 78%;
    width: 69.5%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Baloo Da 2', cursive;
    position: absolute;
    margin: -22px;
    width: 899px;
    margin-left: -71px;

}
.box-principal {
    background: #e91212;
    width: 1210px;
    height: 600px;
    margin-top: 50px;
    border-radius: 30px;
}

.container {
    width: 700px;
}

h1 {
    display: inline-block;
    padding-top:20px;
    padding-left: 100px;
}


.box-esquerdo {
    position: absolute;
    background: white;
    width: 25%;
    height: 70%;
    margin-top:3em;
    margin-left: 5em;
    border-radius: 17px;
}



.foto-de-perfil img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 2px auto;

}

.nome-usuario {
    position: absolute;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 147%;
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    margin-left: 0%;
}



.box-pequeno {
    height: 60%;
    width: 80%;
}


.container-2  {
    position: absolute;
    top: 20px;
    right: -4;
    height: 100%;
    width: 66.5%;
    left: 31%;
}

.lista {
    top: 20px;
    height: 90%;
    width: 100.7%;
}

.lista li{
    text-align: center;
    position: relative;
    /* left: 21em; */
    display: inline-block;
    background: white;
    height: 31%;
    width: 30.3%;
    margin-top: 4.6em;
    margin-left: 1.2em;
    left: -0.9%;
    top: -7%;
    border-radius: 17px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}

hr{
    margin-left: 29px;
    width: 1000px;
    position: absolute;
    margin-top: 35px;
    border-top: 1px solid #f00;
    opacity: .08;
    
}


.box-grande {
    position: relative;
    background: white;
    bottom: 51%;
    left: 0.6%;
    height: 53%;
    width: 97.7%;
    margin: 0 auto;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

}

   .select-estiloso { /* <div> */
    position: relative;
    background: #f9f9f9;
    width: 130px;
    height: 34px;
    overflow: hidden;
    background: url(/img/setaprabaixo-removebg-preview.png) no-repeat right; /* novo ícone para o <select> */
    background-size: 20%;
    border: 1px solid #ccc;
    border-radius: 17px;
    top: 61px;
    left: 30px;
    padding-right: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }   

    .select-estiloso select { /* <select> */
        background: transparent; /* importante para exibir o novo ícone */
        width: 150px;
        padding: 0px 0px 0px 16px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 17px;
        height: 36px;
        color: #989EA7;
        font-family: 'Baloo Da 2', cursive;
        
    }      



    .select-estiloso:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }

.box-grande hr{
    margin-left: 30px;
    width: 634px;
    position: absolute;
    margin-top: 45px;
    border-top: 1px solid #f00;
    opacity: .1;
}


.box-grande p {
    font-family: 'Baloo Da 2', cursive;
    display: inline-block;
    font-weight: bold;

}

.divisao, .divisao-2, .divisao-3 {
    display: block;
    margin-top: 0px;
}
.dia{
    margin: 72px 27px 0 34px;
    font-size: 1.5em;
}

.mes { 
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 100px 0px 0px -162px;
   
}

.hora {
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 100px 0px 0px -111px;

}



.resumo {
    margin: 0px 0px 7px 0px;
}

hr.quebradelinha{
    margin-left: 33px;
    width: 634px;
    position: absolute;
    margin-top: 10px;
    border-top: 1px solid #f00;
    opacity: .1;
}


.dia-2{
    margin: 11px 32px 0 38px;
    font-size: 1.5em;
}




.mes-2 { 
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -208px;
}

.hora-2 {
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -158px;
}


.resumo-2 {
    margin: 0px 0px 7px 0px;
}

hr.quebradelinha-2{
    margin-left: 30px;
    width: 634px;
    position: absolute;
    margin-top: 45px;
    border-top: 1px solid #f00;
    opacity: .1;
    margin: 8px 0px 0px 34px;
}


.dia-3{
    margin: 11px 32px 0 38px;
    font-size: 1.5em;
}




.mes-3 { 
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -154px;
}

.hora-3 {
    position: absolute;
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    margin: 38px 0px 0px -103px;
}

.resumo-3 {
    margin: 0px 0px 7px 0px;
}

hr.quebradelinha-3{
    margin-left: 30px;
    width: 634px;
    position: absolute;
    margin-top: 45px;
    border-top: 1px solid #f00;
    opacity: .1;
    margin: 8px 0px 0px 34px;
}



.box-foto {
    position: absolute;
    background: white;
    bottom: 14.3%;
    left: 1.6em;
    height: 76%;
    width: 27%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;




}

div.upload {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/lapis-removebg-preview.png);
    overflow: hidden;
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 20px 160px;

}
 
div.upload input {
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}



.box-foto img {
    
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin: 2px auto;
    
    
}

.foto-de-perfil{
    background: #A3241D;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 20px auto;
}

.cargo {
    position: absolute;
    background: #f9f9f9;
    bottom: 35.6%;
    left: 11%;
    height: 15%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.turno {
    position: absolute;
    background: #f9f9f9;
    bottom: 18.6%;
    left: 11%;
    height: 15%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

h3 {
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 13px;
    padding-top: 6px;
}


li.indicadores {
    color: black;
    font-size: 15px;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 18px;
    padding-top: 53px;
    font-weight: bold;
    text-align: left;
}

li.p {
    color: #e91212;
    font-size: 15px;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 10px;
    padding-top: 53px;
    font-weight: bold;
    text-align: left;
}

.detalhamento {
    color: rgb(0, 0, 0);
    font-size: 109%;
    font-family: 'Baloo Da 2', cursive;
    position: absolute;
    margin-right: 51px;
    padding-left: 33px;
    padding-top: 18px;
    width: 899px;

}
}


@media screen and (max-height: 800px ) {


    li p{
        
        color: #e91212;
        font-size: 30px;
        font-family: 'Baloo Da 2', cursive;
        padding-left: 0px;
        padding-top: -18px;
        font-weight: bold;
        text-align: left;
        vertical-align: top;
        margin-top: -66px
    }


}