
body {
    display: grid;
    font-family: "Baloo Da 2", cursive;
  }
  
  main {
    position: absolute;
    overflow-y: hidden;
    background: #f2f2f2;
    color: white;
    right: -4;
    height: 70%;
    width: 69%;
    max-width: 1100px;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

  P {
    margin: 0;
    color: black;
  }
  
  .mobile-menu {
    margin-top: 5px !important;
}
  .mobile-menu > a {
    text-decoration: none;
    display: block;
    margin-top: 10.5px !important;
}


  .grid {
    display: grid;
    grid-template-columns: 29% 65.5%;
    grid-template-rows: 19% 43% 33%;
    gap: 20px;
    grid-row: 1;
    margin-top: 20px;
    place-content: center;
  }
  
  .box-usuario , .box-historicos , .elemento-filho {
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    background: white !important;
    border-radius: 17px;
   
  
  }
  
  
  .elemento-pai {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    gap: 20px;
  
  }
  
  .elemento-filho {
    
    width: 100%;
    height: 100%;
    background-color: #e91212;
    vertical-align: middle;
    border-radius: 17px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    
    
  }
  

  
  div.elemento-filho:nth-child(2) {
    background: blue;
  }
  
  
  .elemento-filho p {

    color: black;
    font-size: 210%;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 0px;
    padding-top: -18px;
    font-weight: bold;
    text-align: left;
    font-size: 19px;
    margin-left: 19px;
    vertical-align: middle;

    
  }
  
  .quantidade {
    color: black;
    font-size: 32px !important;
    font-family: 'Baloo Da 2', cursive;
    margin-top: 30px;
    color:#00B1CE !important;
    padding-bottom: 0px;
  }

  .marcadores {
    color: #7A7A7A !important;
    font-size: 16px !important;
  }

  .box-usuario {
    background-color: blue;
    height: 370px;
    width: 100%;
    border-radius: 17px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
 
  
  }
  
  
  .box-historicos {
    background-color: #e91212;
    width: 100%;
    height: 115%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 2;
    border-radius: 17px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    
  }
  
  
  
  
  .nome-usuario {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 150%;
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    grid-column: 1;
  }
  
  
  
  
  
  .box-foto img {
    
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 1px auto;
  
  
  }
  
  
  .select-estiloso { /* <div> */
    position: relative;
    background: #f9f9f9;
    width: 130px;
    height: 34px;
    overflow: hidden;
    background: url("/img/setaprabaixo-removebg-preview.png") no-repeat right; /* novo ícone para o <select> */
    background-size: 20%;
    border: 1px solid #ccc;
    border-radius: 17px;
    left: 30px;
    padding-right: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 2%;
    }   
  
    .select-estiloso select { /* <select> */
        background: transparent; /* importante para exibir o novo ícone */
        width: 150px;
        padding: 0px 0px 0px 16px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 17px;
        height: 36px;
        color: #989EA7;
        font-family: 'Baloo Da 2', cursive;
        
    }      
  
  
  
    .select-estiloso:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
  
    .foto-de-perfil {
      margin-top: 15%;
    }
  
    div.foto-de-perfil {
      grid-column: 2;
      grid-row: 1;
      margin: 20px auto;
      
    }
  
  
    div form {
      grid-column: 2;
      margin-left: -2%;
      grid-row: 1;
      margin-top: 22%;
    }
  
    div.upload {
  
      width: 20px;
      height: 20px;
      background: url("/src/public/img/lapis-removebg-preview.png");
      overflow: hidden;
      background-size: 20px;
      background-repeat: no-repeat;
      float: right;
      grid-column: 2;
  
  
  
  }
   
  div.upload input {
      display: block !important;
      width: 20px !important;
      height: 20px !important;
      opacity: 0 !important;
      overflow: hidden !important;
      grid-column: 2;
  }
  
  .cargo {
    height: 30%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: rgb(249, 249, 249);
    border-radius: 17px;
    grid-row: 3;
    grid-column-start: 1; 
    grid-column-end: 4;
    margin: -5px auto;
  }
  
  .turno {
    height: 30%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: rgb(249, 249, 249);
    border-radius: 17px;
    grid-row: 3;
    grid-column-start: 1; 
    grid-column-end: 4;
    margin: 50px auto;
  
  }
  
  
  .foto-de-perfil{
    background: #A3241D;
    width: 120px;
    height: 120px;
    border-radius: 100px;
  
  }
  
  
  .foto-de-perfil img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
  }
  
  
  h3 {
    color: rgb(152, 158, 167);
    font-size: 67%;
    font-family: "Baloo Da 2", cursive;
    padding-left: 13px;
    padding-top: 6px;
  }
  
  
  
  
  .container-chamados {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 1%;
    align-items: initial;
    
  }
  
  .detalhamento {
    padding-left: 3%;
    color: black;
    margin-top: 3%;
  
  }
  
  
  
  
  
  .quebradelinha-titulo {
    grid-row: 2;
    opacity: 0.1;
    border-top: 1px solid rgb(255, 0, 0);
    margin-top: 1%;
    width: 97.3%;
    margin-left: 1%;
  }
  
  .quebradelinha {
      display: inline-block;
      grid-row: 1;
      opacity: 0.1;
      border-top: 1px solid rgb(255, 0, 0);
      margin-top: 0%;
      grid-column-start: 2;
      margin-left: -8%;
      width: 106%;
  
  }
  
  .quebradelinha-2 {
    grid-row: 2;
    opacity: 0.1;
    border-top: 1px solid rgb(255, 0, 0);
    margin-top: 0%;
    grid-column-start: 2;
    margin-left: -8%;
    width: 106%;


  }
  
  .quebradelinha-3 {
    grid-row: 3;
    opacity: 0.1;
      border-top: 1px solid rgb(255, 0, 0);
      margin-top: 0%;
      grid-column-start: 2;
      margin-left: -8%;
      width: 106%;
  
  }
  .quebradelinha-4 {
    grid-row: 4;
    opacity: 0.1;
    border-top: 1px solid rgb(255, 0, 0);
    margin-top: 0%;
    grid-column-start: 2;
    margin-left: -8%;
    width: 106%;
  
  }
  
  .detalhamentos-chamados-2 {
    grid-row: 2;
    grid-column: 1;
  }
  
  .detalhamentos-chamados-3 {
    grid-row: 3;
    grid-column: 1;
    
  
  }
  
  .resumo {
    grid-column: 2;
    grid-row: 1;
    
    
  }
  
  .resumo-2 {
    grid-column: 2;
    grid-row: 2;
    
  }
  
  .resumo-3 {
    grid-column: 2;
    grid-row: 3;
   
  
  }
  .hora {
    grid-column: 2;
    grid-row: 1;
    margin-top: 17px;
    
  }
  
  .hora-2 {
    grid-column: 2;
    grid-row: 2;
    margin-top: 17px;
    
    
  }
  .hora-3 {
    grid-column: 2;
    grid-row: 3;
    margin-top: 17px;
    
    
  }

  .mes , .mes-2 , .mes-3{
    margin-top: -7px;
    grid-column: 1;
    text-align: center;
  }

  .mes , .mes-2 , .mes-3, .hora , .hora-2 , .hora-3 {
    color: #7A7A7A !important;
  }

  .mes {
    grid-row: 2;
    margin-top: -28px
  }

  .mes-2 {
    grid-row: 3;
    margin-top: -28px;
  }

  .mes-3 {
    grid-row: 4;
    margin-top: -28px;
  }
 

  .resumo-e-hora {
    grid-column: 2;
    margin-top: -6px;
}


.dia, .dia-2, .dia-3 {
  grid-column: 1;
  text-align: center;
}

.dia {
  grid-column: 1;
  grid-row: 1;
  
}

.dia-2 {
  grid-row: 2;
  margin-top: 1px;
}

.dia-3 {
  grid-row: 3;
  margin-top: 1px;
}


  main {
    margin-top: 92px;
  }
  @media screen and (max-width: 1100px ) {
    main {
      margin-top: 8%;
    }
  }

  @media screen and (max-width: 900px ) {
    main {
      margin-top: 10%;
      margin-left: 5% !important;
      width: 87% !important;
    }
  }



    @media screen and (max-width: 800px ) {
      main {
        margin-top: 11%;
      }

      .grid {
        grid-template-columns: 29% 65.5%;
        grid-template-rows: 10% 43% 33%;
        margin-top: -3px;
        margin-left: 20px;
        gap: 15px;
      }

      .elemento-filho p{
          margin-top: -5%;
      }

      .quantidade {
        font-size: 21px !important;
    }

    .box-usuario {
     height: 259px;
    }

    .foto-de-perfil img {
      width: 70px;
      height: 70px;
    }

    .foto-de-perfil {
      width: 70px;
      height: 70px;
    }

    .nome-usuario {
      font-size: 90%;
    }

    .box-historicos {
      grid-row-start: 2;
      grid-column: 2;
      height: 97% !important;
    }

    .select-estiloso {
      height: 19px;
      left: 267px;
      margin-top: -6%;
    }

    .select-estiloso select {
      height: 20px;
      margin-top: -6px;
      vertical-align: top;
      margin-top: -4px !important;
  }

  .quebradelinha, .quebradelinha-2, .quebradelinha-3 {
    display: none;
  }

  .quebradelinha-titulo {
    margin-top: 0%;
    width: 61%;
    margin-left: 1%;
  }
}

@media screen and (max-width: 380px ) {
  main {
    margin-top: 23%;
    margin-left: 2% !important;
    width: 87% !important;
  }
}