article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    position: absolute;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 60%;
    margin-top: 30px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    border-style: ridge;
    margin-bottom: 20px;
}

.chamado{
    border: 1px solid black;
    padding: 1%;
    text-align: justify;
    background-color: rgba(187, 183, 183, 0.493);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chamado:hover{
    background-color: rgba(187, 183, 183, 0.2);
    cursor: pointer;
}
li {
    list-style-type: none;
  }

a{
    text-decoration: none;
    color: black;
}