article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    position: absolute;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 60%;
    margin-top: 30px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    margin-bottom: 20px;
}

.chamado{
    padding: 1%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 6px 15px 31px;
    background: white;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px; 
}
.chamado:hover{
    background-color: rgba(187, 183, 183, 0.2);
    cursor: pointer;
}
li {
    list-style-type: none;
  }


a{
    text-decoration: none;
    color: black;
}

.container-chamados {
    margin: 10px 50px;
    width: 50%;
    background: #f2f2f2;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.container-chamados h1 {
    color: rgb(0, 0, 0);
    font-size: 200%;
    font-family: 'Baloo Da 2', cursive;
    margin: 10px 0px 0px 40px;
    width: 50%;
}

.container-titulo{
    margin-top: 18px;

}
.campo-1 {

    display: inline-block;
    width: 130px;
    height: 90%;
    margin-left: 38px;
}

.campo-2 {

    display: inline-block;
    width: 130px;
    height: 90%;
    margin-left: 3px;
}

.busca-aluno {
    padding-left: 12px;
    background: #f9f9f9;
    width: 80%;
    height: 85%;
    border: 1px solid #ccc;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 100%;
}

.button {
    position: relative;
    background: #f9f9f9;
    width: 130px;
    height: 85%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    cursor: pointer;
    font-family: 'Baloo Da 2', cursive;
    font-size: 100%;
}

h2 {

    color: rgb(0, 0, 0);
    font-size: 125%;
    font-family: 'Baloo Da 2', cursive;
    margin: 10px 0px 0px 42px;
    width: 899px;

}

#chamados-box {
    width: 95%;
    margin: 0px auto;
    padding-top: 10px;
    overflow-y: scroll;
}


#chamados-box hr {
    margin-left: 56px;
    width: 1470px;
    margin-top: 54px;
    border-top: 1px solid #f00;
    opacity: .1;
}

#chamados-box::-webkit-scrollbar {
    display: none;
  }

.chamado {
    margin: 15px;
    background: white;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}

.infoHide{
    display: none;
}

.line {
    display: none;
}

.container-chamados hr {
    margin-left: 39px;
    width: 91%;
    margin-top: -8px;
    margin-bottom: 14px;
    border-top: 1px solid #f00;
    opacity: .1;
}

