
/* Classes  */
.Select-Content { 
    width: 15em;
    border-radius: 5px 5px 5px 5px;
    height: 2em;
    text-align: center;
    margin: 8px 0;

}

/*      corpo do site */


main{
    position: absolute;
    background: #f2f2f2;
    top: 93px;
    right: -4;
    margin-left: 285px;
    height: 78%;
    width: 69.5%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

}

main > .form-content {
    position: absolute;
    background: white;
    top: 221px;
    right: -4;
    margin-left: 28px;
    margin-top: -1%;
    height: 58%;
    width: 94%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    overflow: hidden;
}

main > .form-content > .formu > h4 {
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;

}

main > .form-content > .formu > hr {
margin-top: 30px;
}

main > .form-content > .formu >  input {
    display: inline-block;
}

main > .form-content > .formu > .dados {
    display: inline-block;
    width: 60%;
}

main > .form-content > .formu {
    margin-top: 0px;
}

main > .tab {
margin-top: 40px;
margin-left: 27px;
width: 94.1%;
height: 90px;
border-radius: 17px;
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
overflow: hidden;
}

@media screen and (max-width: 1000px ) {
    
    }
main > .tab > .botaoN , .add-botao{
    color: #525252;
    background: #FFF;
    height: 100%;
    width: 33.33%;
    border: none;
    margin-right: -4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #FC675F;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
    margin-top: -8px;
}


.add-botao {
    margin-top: 0%;
}

.botoes {
    height: 100%;
    border: none;
    width: 33.5%;
    margin-right: -4px;
    background: #FFF;
    
}

.buttonClicked{
    height: 100%;
    border: none;
    width: 33.33%;
    margin-right: -4px;
    background-color: #448A93;

}



#btn_dados, #btn_dadosII {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-top: 138px;
    

}
#btn_dadosII {
    cursor: pointer;
    margin-left: 2%;
    margin-top: 13%;
    position: absolute;
}

#btn_clear1 {
    border: none;
    background-color: transparent;
    margin-left: 2%;
    position: relative;
    top: -1%;
    left: 92%;
    cursor: pointer;
}

#btn_clear {
    border: none;
    background-color: transparent;
    margin-left: 2%;
    position: relative;
    top: 3%;
    left: 92%;
    cursor: pointer;

}

#btn_dadosIII {

    cursor: pointer;
    margin-left: 20%;
    background-color: transparent;
    border: none;
    margin-top: 20%;

}
main > .line {
    margin-top: 36px;
    margin-left: 26px;
}

#line {
    margin-top: 11%;
}

.input_total, .inputII_total, .Select-Content 
    {
    
    border-radius: 30px;
    padding: 1vh 1.5vw;
    background-color: #E6E8ED;
    border: none
}

.input_total {
    width: 49vw;
    height: 14px;

}

.inputII_total{
    width: 20vw;
}

.Select-Content {
    width: 20vw;
    padding-top: 0px;
    margin-left: 23px;
}


.tabela_dados{
    margin: 20px auto;
    font-family: Secundária;
    width: 96%;

}


.tabela_resultado{
    display: none;
}

.tabela_resultadoII{
    display: none;
}

.input_resposta{
    text-align: center;
    border-radius: 30px;
    border: none;
    background-color: rgba(209, 23, 23, 0.1);
    color: black;
    width: 15vw;
}


/* Segunda parte do Form */

.tabela_dadosII{
    font-family: Secundária;
    margin: 22px auto;
    

}

.input_totalII {
    width: 30vw;
    
}


.tabela_dadosIII{
    margin-bottom: 10px;
    font-family: Secundária;
}

.input_totalIII {
    width: 10vw;
    margin-left: 0px;
}

.cont-content {
    width: 90%;
    height: 100%;
    margin-left: 8%;
    display: inline-block;
    margin-top: 12px;
}


.Text-content {
background-color: black;
display: inline-block;
height: 100%;
width: 100%;
}

#Details {
height: 65vh;
width: 36vw;
margin-bottom: 2%;
border-radius: 5px;
}



.drop1 { 
    display: block;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: normal;
    font-family: Secundária;
    font-weight: normal;

}

.drop1-2 { 
    font-family: Secundária;
    display: blo;
    height: 30px;
    margin-left: 0.5em;
    border-radius: 5px 5px 5px 5px;
    font-weight: normal;
    margin-left: 0px;
}

.drop1-2:hover { 
background-color: rgba(0, 0, 255, 0.034);

}

.dropdown-select {
    display: inline-flex;
}

.AreaII { 
 display: inline-block;
 font-family: Secundária;
}

.AreaI { 
    display: none;
    font-family: Secundária;
}


.Span-drops {
    padding-left: 12px;
   

}

.drop2 { 
    display: inline-block;
    margin-top: 10pxpx;
    margin-left: 0px;
    font-weight: normal;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    font-family: Secundária;
}


.Orientações, .Demanda-Option {
    padding-left: 12px;
}

h4.drop1.padrao-terciaria {
    margin: 0 0 11px -80px;
    position: absolute;
    margin-top: 8px;
}

.Area {
    font-weight: normal;
    margin-left: -80px !important;
    position: absolute;
    margin-top: 7px !important;

}


.Problema { 
    font-weight: normal;
    font-family: Secundária;
}

.ProblemaD { 
        display: none;
        margin-left: 0px;
        font-weight: normal;
        font-family: Secundária;
        border-radius: 5px 5px 5px 5px;
        text-decoration: none;


}


#msg_erro{
    color: #A3241D;
    font-size: 4vh;
    margin-left: 22%;
    position: absolute;
    margin-top: 10.8%;
}

#Reproduzido{
    width: 100%;
    text-align: center;
}

#Reproduzido *{
    border-radius: 30px;
}

main {
    overflow: hidden;
}

input:focus {
   border: none;
   background-color: #C6DEE0;
}

.botao-limpar {
    background-color: #E6E8ED !important;
    border: none;
    font-size: 16px;
    float: left;
    margin-top: 69px;
    margin-left: 37px;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: 600;
    color: #3C5C60;
    margin-top: 110px !important;
}

.adicionar {

    background-color: #E3A5A1 !important;
    border: none;
    font-size: 16px;
    float: right;
    margin-top: 69px;
    margin-right: 37px;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: bold;
    color: #F1DBDA;

}


.adicionar {
    background-color: #C6DEE0 !important;
    border: none;
    font-size: 16px;
    float: right;
    margin-right: 37px;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: lighter;
    color: #3C5C60;
    margin-top: 152px !important;
    font-weight: bold;


}
.botao-limpar-2 {
    background-color: #E6E8ED !important;
    border: none;
    font-size: 16px;
    float: left;
    margin-left: -74px !important;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: bold;
    color: #3C5C60;
    margin-top: 91px !important;
    position: absolute;
}


.botao-limpar-3 {
    background-color: #E6E8ED !important;
    border: none;
    font-size: 16px;
    float: left;
    margin-left: 37px;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: bold;
    color: #3C5C60;
    margin-top: 152px !important;

}
.botao-limpar:hover, .botao-limpar-2:hover, .botao-limpar-3:hover, .adicionar:hover  {
    background-color: #AED8DE !important;
    color: #3C5C60;

}

.adicionar:hover, .botao-limpar:hover, .botao-limpar-2:hover, .botao-limpar-3:hover  {
    background-color:#AED8DE ;
    color: white;

}

@media screen and (min-height: 950px ) {
    .textarea-descricao {
        margin-top: -220px;
        margin-left: 39%;
    }
}


@media screen and (max-width: 1921px ) {
    .textarea-descricao {
        margin-top: -220px;
        margin-left: 37%;
        width: 32%;
    }


}

@media screen and (max-width: 1707px ) {
    .input_total {
        width: 48vw;
        height: 14px;
    }
}



@media screen and (max-height: 1230px ) {
    main > .form-content {
    
        height: 46%;
    
    }

}


@media screen and (max-height: 1100px ) {
    main > .form-content {
        height: 49%;
        margin-top: -4%;
    }

}

@media screen and (max-height: 1024px ) {
    main > .form-content {
        margin-top: -1%;
        height: 309px;
    }

}

@media screen and (min-width: 1350px) {
    main > .form-content {
        height: 302px;
    }

    
        

}

@media screen and (min-width: 1350px) {
    main > .form-content {
        height: 361px;
    }

}

@media screen and (max-height: 720px) {
    main > .form-content {
        height: 316px;
    }

    .botao-limpar {
    
        margin-top: 77px !important;
    }

}

@media screen and (max-height: 650px) {
    main > .form-content {
        height: 271px;
    }

    .botao-limpar, .botao-limpar-2 {
    
        margin-top: 8px !important;
    }

    .botao-limpar-2 {
    
        margin-top: 30px !important;
    }

}


@media screen and (max-height: 575px) {
    main > .form-content {
        height: 200px;
    }
}


@media screen and (max-height: 476px) {
    main > .form-content {
        height: 145px;
    }

}


td.padrao-terciaria {
    position: absolute;
    margin-left: -81px;
    margin-top: 6px !important;
}

.problema-label {
    
    position: absolute;
    margin-left: -80px !important;
    font-weight: normal;
    margin-top: 7px !important;
}

.select-processos {
    margin-bottom: -7px !important;
    margin-left: 23px;
}


.label-textarea {
    position: absolute;
    margin-left: -216px;
    z-index: 1;
    margin-top: -1px;
}


.textarea-descricao {  
    margin-top: -177px;
    margin-left: 45%;
    position: absolute;
    padding-left: 226px;
}

.textarea-descricao textarea {
    border-radius: 30px;
    background-color: #E6E8ED;
    border: none;
    padding-left: 26px;
    padding-top: 6px;
    width: 93%;

}

@media screen and (max-width: 2300px ) {
    .textarea-descricao {
        margin-top: -175px;
        margin-left: 39%;
    }

    .botao-limpar {
        margin-top: 117px !important;
        margin-left: 39px !important;
    }

    .botao-limpar-2 {
        margin-top: 98px !important;
        margin-left: -80px !important;
    }
    
    .botao-limpar-3 {
        margin-top: 158px !important;
        margin-left: 39px !important;
    }

    .adicionar {
        margin-top: 158px !important;
    }


}





@media screen and (max-width: 1920px ) {
    .textarea-descricao {
        margin-top: -177px;
        margin-left: 37%;
    }

    main {
        height: 68% !important;
    }

   
}

@media screen and (max-width: 1750px ) {
    .textarea-descricao {
        margin-top: -178px;
        margin-left: 34%;
    }

    .botao-limpar {
        margin-top: 117px !important;
        margin-left: 34px !important;   
     }

    .botao-limpar-2 {
        margin-left: -67px !important;
    }
    
    .botao-limpar-3 {
       margin-left: 34px !important;
       margin-top: 158px !important;
    }

    .adicionar {
        margin-top: 158px !important;
    }

    main {
        height: 76% !important;
    }

    

}

@media screen and (max-width: 1536px ) {
    .tabela_dados {
        margin: 20px auto;
        font-family: Secundária;
        width: 101%;
    }

    .cont-content {
        margin-left: 9%;
    }

    .textarea-descricao textarea {
        width: 78%;
    }
    
    .textarea-descricao {
        margin-top: -154px;
        margin-left: 36%;
    }

    .botao-limpar {
        margin-left: 28px !important;
        margin-top: 88px !important;
    }

    .botao-limpar-2 {
        margin-top: 75px !important;
        margin-left: -73px !important;
    }
    
    .botao-limpar-3 {
        margin-top: 122px !important;
        margin-left: 28px !important;
    }

    .adicionar {
        margin-top: 122px !important;
    }

    main {
        height: 78% !important;
    }
    
    .label-form1, .label-form3 , .padrao-terciaria {
       
        font-size: 16px !important;
    }

    .padrao-quartenaria {
        font-family: 'Baloo Da 2', cursive;
        color: rgb(0, 0, 0);
        font-size: 13px !important;
    }

    .padrao-terciaria::placeholder {
        font-size: 13px !important;
    }
}


@media screen and (max-width: 1400px ) {
    .tabela_dados {
        margin: 20px auto;
        font-family: Secundária;
        width: 101%;
        margin-left: 29px;
    }

    .cont-content {
        margin-left: 9%;
    }

    .textarea-descricao textarea {
        width: 78%;
    }
    
    .textarea-descricao {
        margin-top: -137px;
        margin-left: 35%;
    }

    .botao-limpar {
        margin-top: 44px !important;
        margin-left: 23px !important;
    }

    .botao-limpar-2 {
        margin-top: 48px !important;
        margin-left: -70px !important;
    }
    
    .botao-limpar-3 {
        margin-top: 80px !important;
        margin-left: 23px !important;
    }

    .adicionar {
        margin-top: 80px !important;
    }

    .label-textarea {
        margin-left: -169px;
    }
    .label-form1, .label-form3, .padrao-terciaria {
     
        font-size: 16px !important;
    }

    td {
        padding: 7px !important;
    }

    td.padrao-terciaria {
        margin-left: -77px;
    
    }
    .label-form1, .label-form3 , .padrao-terciaria {
       
        font-size: 13px !important;
    }

    .padrao-quartenaria {
        font-family: 'Baloo Da 2', cursive;
        color: rgb(0, 0, 0);
        font-size: 11px !important;
    }

    .padrao-terciaria::placeholder , .inputII_total::placeholder {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1232px ) {
    main > .tab {
        margin-top: 18px;

    }

    main > .form-content {
        height: 268px;
        margin-top: -44px;
    }

    main {
        height: 82% !important;
    }
}

.botoes:hover {
    cursor: pointer;
}


.titulo-index {
    margin-top: -62px !important;
}


