
/* Classes  */
.Select-Content { 
    width: 15em;
    border-radius: 5px 5px 5px 5px;
    height: 2em;
    text-align: center;

}

/*      corpo do site */


main{
    position: absolute;
    background: #f2f2f2;
    top: 93px;
    right: -4;
    margin-left: 285px;
    height: 78%;
    width: 69.5%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

}

main > .form-content {
    position: absolute;
    background: white;
    top: 221px;
    right: -4;
    margin-left: 28px;
    margin-top: -1%;
    height: 58%;
    width: 94%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
    overflow-y: scroll;
}

main > .form-content > .formu > h4 {
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;

}

main > .form-content > .formu > hr {
margin-top: 30px;
}

main > .form-content > .formu >  input {
    display: inline-block;
}

main > .form-content > .formu > .dados {
    display: inline-block;
    width: 60%;
}

main > .form-content > .formu {
    margin-top: 0px;
}

main > .tab {
background: white;
margin-top: 40px;
margin-left: 27px;
width: 94.1%;
height: 90px;
border-radius: 17px;
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}

@media screen and (max-width: 1000px ) {
    
    }
main > .tab > .botaoN {
    color: #31302B;
    background: #FFF;
    height: 100%;
    width: 25%;
    border: none;
    margin-right: -4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #FC675F;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
main > .tab > .botaoN:hover {
    box-shadow: inset 350px 0 0 0;
    color: #FC675F;
}
  main > .tab > button:focus {
    background: #C23C34;
}

.buttonClicked {
    background-color: #C23C34;
    height: 100%;
    border: none;
    width: 25%;
    margin-right: -4px;

}

#btn_dados, #btn_dadosII {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 2%;
    margin-top: 20px;
    position: absolute;

}
#btn_dadosII {
    cursor: pointer;
    margin-left: 2%;
    margin-top: 13%;
    position: absolute;
}

#btn_clear1 {
    border: none;
    background-color: transparent;
    margin-left: 2%;
    position: relative;
    top: 6%;
    left: 92%;
    cursor: pointer;
}

#btn_clear {
    border: none;
    background-color: transparent;
    margin-left: 2%;
    position: relative;
    top: 28%;
    left: 92%;
    cursor: pointer;

}

#btn_dadosIII {

    cursor: pointer;
    margin-left: 20%;
    background-color: transparent;
    border: none;
    margin-top: 20%;

}
main > .line {
    margin-top: 36px;
    margin-left: 26px;
}

#line {
    margin-top: 50px;
}

.input_total, .inputII_total, .Select-Content 
    {
    
    border-radius: 30px;
    padding: 1vh 1.5vw;
    background-color: #E6E8ED;
    border: none
}

.input_total {
    width: 50vw;
}

.inputII_total{
    width: 20vw;
}

.Select-Content {
    width: 20vw;
    padding-top: 0px;
}


.tabela_dados{
    margin: 20px auto;
    font-family: Secundária;
    width: 96%;

}


.tabela_resultado{
    display: none;
}

.tabela_resultadoII{
    display: none;
}

.input_resposta{
    text-align: center;
    border-radius: 30px;
    border: none;
    background-color: rgba(209, 23, 23, 0.1);
    color: black;
    width: 15vw;
}


/* Segunda parte do Form */

.tabela_dadosII{
    margin-left: 0%;
    font-family: Secundária;
}

.input_totalII {
    width: 30vw;
}


.tabela_dadosIII{
    margin-bottom: 10px;
    font-family: Secundária;
}

.input_totalIII {
    width: 10vw;
    margin-left: 0px;
}

.cont-content {
    width: 90%;
    height: 100%;
    margin-left: 19%;
    display: inline-block;
}


.Text-content {
background-color: black;
display: inline-block;
height: 100%;
width: 100%;
}

#Details {
height: 65vh;
width: 36vw;
margin-bottom: 2%;
border-radius: 5px;
}



.drop1 { 
    display: block;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: normal;
    font-family: Secundária;
    font-weight: normal;

}

.drop1-2 { 
    font-family: Secundária;
    display: blo;
    height: 30px;
    margin-left: 0.5em;
    border-radius: 5px 5px 5px 5px;
    font-weight: normal;
    margin-left: 0px;
}

.drop1-2:hover { 
background-color: rgba(0, 0, 255, 0.034);

}

.dropdown-select {
    display: inline-flex;
}

.AreaII { 
 display: inline-block;
 font-family: Secundária;
}

.AreaI { 
    display: none;
    font-family: Secundária;
}


.Span-drops {
    padding-left: 12px;
   

}

.drop2 { 
    display: inline-block;
    margin-top: 10pxpx;
    margin-left: 0px;
    font-weight: normal;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    font-family: Secundária;
}


.Orientações, .Demanda-Option {
    padding-left: 12px;
}

h4.drop1.Padrao-Terciária {
    margin: 0 0 11px 7px;
}

.Area {
    font-weight: normal;
    font-family: Secundária;
}

.aplic { 
}

.Problema { 
    font-weight: normal;
    font-family: Secundária;
}

.ProblemaD { 
        display: none;
        margin-left: 0px;
        font-weight: normal;
        font-family: Secundária;
        border-radius: 5px 5px 5px 5px;
        text-decoration: none;


}


#msg_erro{
    color: #A3241D;
    font-size: 4vh;
    margin-left: 259px;
    position: absolute;
    margin-top: 32px;
    text-align: center;
}

#Reproduzido{
    width: 100%;
    text-align: center;
}

#Reproduzido *{
    border-radius: 30px;
}

