<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Styles/Login.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
   

</head>

<body>
    <header>
        <img src="https://marketing.medgrupo.com.br/medsmart/img/logo-medgrupo.a0ea0f9e.svg" alt="">
    </header>
    <article>
        <div class="login">
            <div class="Login-Content">
                <h4 class="h3-Login">Login*</h4>
                <input type="email" name="email" id="Email-Login">

                <h4 class="H3-Senha">Senha*</h4>
                <input type="password" name="Senha" id="Senha-Login">

                <div class="detalhes">
                    <input type="checkbox" name="" id="Lembrar-checkbox">
                    <h4 class="lembrar-h4">Lembrar-me</h4>
                    <a href="#"
                       class="Esqueceu-A-Senha">Esqueceu a senha?</a>

                    <div>
                        <button id="buttonDiv"></button>
                    </div>
                </div>
            </div>
        </div>

    </article>

    <script src="/src/public/Scripts/login.js"></script>
</body>
</html>