<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Helpdesk</title>
    <link rel="stylesheet" href="/Styles/dash.css">
    <link rel="stylesheet" href="/Styles/style-base.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
    <header>
        <div class="logo">
        <img src="/img/Icones-menu/medgrupo-imagem.png" alt="Medgrupo Icone">
        </div>
        <div class="title">
        </div>
        <div class="burguer-content-icon">
            <button onclick="burguer()">
                <img src="/img/Icones-menu/menu_black_36dp.png" alt="Menu-Burguer">
            </button>
        </div>
        <div class="content-int">
            <a href="#" id="Tar"> <img src="/img/Icones-menu/Icones superiores/Terefas.Icon.svg" alt=""> </a>

            <a href="#" id="Not"> <img src="/img/Icones-menu/Icones superiores/Notificação.icon.svg" alt=""> </a>

            <a href="#" id="Perfil"> <img class="perfil" src="/img/Icones-menu/Icones superiores/Perfil.icon.svg"> </a>

        </div>

        <div class="Sub-Menu-Perfil ">
            <div class="Perfil-Content">
                <img src="/img/Icones-menu/Icones superiores/Perfil-Content/MinhaConta.png" alt="Detalhes da conta"> <a href="#" class="Padrao-Secundário">Minha Conta</a> <br>
                <img src="/img/Icones-menu/Icones superiores/Perfil-Content/CNot.png" alt="Configuração de Notificação"> <a href="#" class="Padrao-Secundário">Configurar Notificações</a> <br> 
                <img src="/img/Icones-menu/Icones superiores/Perfil-Content/FazerLogin.png" alt="Login"> <a href="Login.html" class="Padrao-Secundário"> Login/Logout</a>
            </div>

        </div>
        <div class="Sub-Menu-Not Padrao-Primário">
            <div class="Title-Not">
                <h2>Notificações</h2>
                <hr>
            </div>
            <div class="content-not Padrao-Secundário">
                <h4>Você não tem notificações no momento.</h4>
                <hr>
            </div>
            <div class="Footer-Not ">
                <a href="#" class="Padrao-Terciária">Todas as notificações.</a>
            </div>

        </div>
        <div class="Sub-Menu-Tar Padrao-Primário">
            <div class="Title-Tar">
                <h2>Tarefas</h2>
                <hr>
            </div>
            <div class="content-Tar Padrao-Primário">
                <h4>Você não tem Tarefas no momento.</h4>
                <hr>
            </div>
            <div class="Footer-Tar Padrao-Terciária">
                <a href="#" class="Padrao-Terciária">Todas as Tarefas</a>
            </div>

        </div>
    </header>
    
    <nav class="mobile-menu">
        <a href="/"> <img src="/img/Icones-menu/Icones superiores/form.icon.svg" alt=""> <h5 class="Padrao-Secundário">Preencher Formulário</h5> </a>
        
        <a href="atendimentos"> <img src="/img/Icones-menu/Histórico.icon.svg" alt=""> <h5 class="Padrao-Secundário">Atendimentos Helpdesk</h5> </a>

        <a href="perfil"> <img src="/img/Icones-menu/MeuPerfil.icon.svg" alt=""> <h5 class="Padrao-Secundário"> Meu Perfil</h5> </a>

        <a href="/dashboard"> <img src="/img/Icones-menu/Dash.icon.svg" alt=""> <h5 class="Padrao-Secundário">Dashboard Geral</h5> </a>

        <a href="padroes"> <img src="/img/Icones-menu/Email.icon.svg" alt=""> <h5 class="Padrao-Secundário">Padrões de E-mail</h5> </a>
    </nav>

<main>
        <div class="content-item">
             <h1 class="titulo">Dashboard</h1><hr>
        </div>
        <div id="grafico">

        </div>
</main>  
    
<script>

var options = {
  chart: {
    type: 'line'
  },
  series: [{
    name: 'sales',
    data: [30,40,35,50,49,60,70,91,125]
  }],
  xaxis: {
    categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
  }
}

var chart = new ApexCharts(document.querySelector("#grafico"), options);

chart.render();

</script>

    
</script>
<script src="/Scripts/js-base.js"></script>
</body>
</html>