<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>
    Dashboard
  </title>
  <script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    
  </script>
 
</head>
<body>
  <h1><strong>Gráfico de problemas do medsoft</h1><strong>
  
  <div class="estilizar" id='chart_div' style='width: 1000px; height: 500px;'></div>
  <script src="/Scripts/Dash.js"></script>
</body>
</html>