<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Helpdesk</title>
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="/Styles/style-base.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Nanum+Gothic&display=swap');
        
        table, th, td { 
            border: 1px solid rgba(141, 141, 141, 0);
            border-collapse: collapse;
            margin:auto;
            margin-top: 10px;
            padding: 10px;
            margin-left: 0%;
            margin-right: 0%;
            margin-bottom: 12px;
            padding-top: 1px;
        }

        table, th, td, input { 
            background-color: transparent;
            border-radius: 2px 2px 2px 2px;

        }

    



    </style>
</head>
<body>
    <header>
        <div class="logo">
        <img src="/img/Icones-menu/medgrupo-imagem.png" alt="Medgrupo Icone">
        </div>
        <div class="title">
        </div>
        <div class="burguer-content-icon">
            <button onclick="burguer()">
                <img src="/img/Icones-menu/menu_black_36dp.png" alt="Menu-Burguer">
            </button>
        </div>
        <div class="content-int">
            <a href="#" id="Tar"> <img src="/img/Icones-menu/Icones superiores/Terefas.Icon.svg" alt=""> </a>

            <a href="#" id="Not"> <img src="/img/Icones-menu/Icones superiores/Notificação.icon.svg" alt=""> </a>

            <a href="/" id="form-content-icon"> <img src="/img/Icones-menu/Icones superiores/form.icon.svg"> </a>

            <a href="#" id="Perfil"> <img class="perfil" src="/img/Icones-menu/Icones superiores/Perfil.icon.svg"> </a>

        </div>
    </header>
    <section>
        <div class="mobile-menu">
            
            <a href="/"> <img src="/img/Icones-menu/Icones superiores/form.icon.svg" alt=""> <h5 class="Padrao-Secundário">Preencher Formulário</h5> </a>
            
            <a href="/atendimentos"> <img src="/img/Icones-menu/Histórico.icon.svg" alt=""> <h5 class="Padrao-Secundário">Atendimentos Helpdesk</h5> </a>
    
            <a href="/perfil"> <img src="/img/Icones-menu/MeuPerfil.icon.svg" alt=""> <h5 class="Padrao-Secundário">Meu Perfil</h5> </a>
    
            <a href="/dashboard"> <img src="/img/Icones-menu/Dash.icon.svg" alt=""> <h5 class="Padrao-Secundário">Dashboard Geral</h5> </a>
    
            <a href="/padroes"> <img src="/img/Icones-menu/Email.icon.svg" alt=""> <h5 class="Padrao-Secundário">Padrões de E-mail</h5> </a>
    
    
    
        </div>
    <article>
        <div class="Sub-Menu-Perfil ">
            <div class="Perfil-Content">
                <img src="/img/Icones-menu/Icones superiores/Perfil-Content/MinhaConta.png" alt="Detalhes da conta"> <a href="#" class="Padrao-Secundário">Minha Conta</a> <br>
                <img src="/img/Icones-menu/Icones superiores/Perfil-Content/CNot.png" alt="Configuração de Notificação"> <a href="#" class="Padrao-Secundário">Configurar Notificações</a> <br> 
                <img src="/img/Icones-menu/Icones superiores/Perfil-Content/FazerLogin.png" alt="Login"> <a href="Login.html" class="Padrao-Secundário"> Login/Logout</a>
            </div>

        </div>
        <div class="Sub-Menu-Not Padrao-Primário">
            <div class="Title-Not">
                <h2>Notificações</h2>
                <hr>
            </div>
            <div class="content-not Padrao-Secundário">
                <h4>Você não tem notificações no momento.</h4>
                <hr>
            </div>
            <div class="Footer-Not ">
                <a href="#" class="Padrao-Terciária">Todas as notificações.</a>
            </div>

        </div>
        <div class="Sub-Menu-Tar Padrao-Primário">
            <div class="Title-Tar">
                <h2>Tarefas</h2>
                <hr>
            </div>
            <div class="content-Tar Padrao-Secundário">
                <h4>Você não tem Tarefas no momento.</h4>
                <hr>
            </div>
            <div class="Footer-Tar Padrao-Terciária">
                <a href="#" class="Padrao-Terciária">Todas as Tarefas</a>
            </div>

        </div>
       <div class="title Padrao-Primário">
           <h1 class="Padrao-Primário">Registro de Atendimento</h1>
           <hr>
       </div>
       <div class="tab">
           <button id="tabpadrao" class="buttonClicked" onclick="abrirtab('form1')"> <img src="/img/Icones-menu/Icones superiores/Form-Icon/contact_mail.svg" alt=""> </button>
           <button class="botaoN" onclick="abrirtab('form2')"><img src="/img/Icones-menu/Icones superiores/Form-Icon/devices.svg" alt=""></button>
           <button class="botaoN" onclick="abrirtab('form3')"><img src="/img/Icones-menu/Icones superiores/Form-Icon/feed.svg" alt=""></button>
           <button class="botaoN" onclick="SubmitForm()"><img src="/img/Icones-menu/Icones superiores/Form-Icon/check_circle.svg" alt=""></button>
       </div> 
       <div id="form1" class="form-content">
            
            <table class="tabela_dados">
                 <tr class="Padrao-Terciária">
                    <td>Dados do aluno</td>
                    <td><input type="text" name="" id="dados_total" placeholder="Cole ID, CPF e NOME aqui" class="input_total Padrao-Terciária"></td>
                </tr>
                <tr class="Padrao-Terciária">
                    <td>OV do aluno</td>
                    <td><input type="text" id="ov_total" placeholder="Cole linha OV atual aqui" class="input_total Padrao-Terciária"></td>
                </tr>
                <tr class="Padrao-Terciária">
                    <td>Chamado MGE</td>
                    <td><input type="text" id="chamado_total" placeholder="Cole linha do chamado aqui" class="input_total Padrao-Terciária"></td>
                </tr>
            </table>
            <button value="Aplicar" id="btn_dados"> <img src="/img/Icones-menu/Aplicar.icon.svg" alt="Aplicar"> </button>
            <table class="tabela_resultado">
                <hr id="line">
                <tr class="Padrao-Terciária">
                    <td>ID</td>
                    <td><input type="text" id="id_id" disabled class="input_resposta"></td>
                    
                    <td>CPF</td>
                    <td><input type="text" id="id_cpf" disabled class="input_resposta"></td>
                    
                    
                    <td>Nome</td>
                    <td><input type="text" id="id_nome" disabled class="input_resposta"></td>

                </tr>
                <tr class="Padrao-Terciária">
                    <td>OV aluno</td>
                    <td><input type="text" id="id_produto" disabled class="input_resposta"></td>

                    <td>Data contratação</td>
                    <td><input type="text" id="id_ov_data" disabled class="input_resposta"></td>

                    <td>Status OV</td>
                    <td><input type="text" id="id_ov_status" disabled class="input_resposta"></td>
                </tr>

                <tr class="Padrao-Terciária">
                    <td>Data</td>
                    <td><input type="text" id="id_chamado_data" disabled class="input_resposta"></td>

                    <td>Hora</td>
                    <td><input type="text" id="id_chamado_hora" disabled class="input_resposta"></td>

                    <td>Responsável</td>
                    <td><input type="text" id="id_chamado_responsavel" disabled class="input_resposta"></td>
                </tr>
                    
            </table>
            <p id="msg_erro"></p>
            
            <!--<button onclick="abrirtab('form2')">&#10145;</button> -->
        </div>
        <div id="form3" class="form-content" class="tabela_resultado" >
            
                <table class="tabela_dadosII">
                    <tr class="Padrao-Terciária">

                        <td>ID do Card: </td>
                        <td><input type="text" id="Id-Card" placeholder="ID do card aqui ou N/A" class="inputII_total"></td>


                        <td>Dispositivo: </td>
                        <td><input type="text" name="" id="Dispositivo" placeholder="Dispositivo do aluno ou N/A" class="inputII_total"></td>


                    </tr>
                    <tr>
                    </tr>
                    <tr class="Padrao-Terciária">
                        <td>Versão do APP</td>
                        <td><input type="text" id="versao" placeholder="Digite a versão" class="inputII_total"></td>

                        <td>Reproduzido?</td>
                        <td><select name="Reproduzido" id="Reproduzido" class="inputII_total">
                            <option value="N/A" class="option">N/A</option>
                            <option value="Sim" class="option">Sim</option>
                            <option value="Não" class="option">Não</option>
                        </select></td>
                    
                    </tr>
                </table>
                <button value="Aplicar" id="btn_dadosII" onclick="DadosII()"> <img src="/img/Icones-menu/Aplicar.icon.svg" alt=""> </button>
                <table class="tabela_resultadoII">
                    <hr id="line">
                    <tr>
                    <tr class="Padrao-Terciária">

                        <td>Id do Card</td>
                        <td><input type="text" id="id_id_card" disabled class="input_resposta"></td>

                        <td>Dispositivo:</td>
                        <td><input type="text" id="id_dispositivo" disabled class="input_resposta"></td>

                        <td>Versão do App</td>
                        <td><input type="text" id="id_versao_app" disabled class="input_resposta"></td>

                    </tr>
                    <tr class="Padrao-Terciária">
                        <td>Reproduzido:</td>
                        <td><input type="text" id="id_reproduzido" disabled class="input_resposta"></td>       
                    </tr>
                    
                </table>
            
           <!-- <button onclick="abrirtab('form1')">&#11013;</button>
            <button onclick="abrirtab('form3')">&#10145;</button> -->
        </div>
        <div id="form2" class="form-content">
            <div class="cont-content">
             <table class="tabela_dadosIII Padrao-Terciária" >
                    <tr>
                        <td class="Padrao-Terciária">Processos:</td>
                    </tr>
                    <tr>
                        <td> 
                            <select name="Processos" id="Processos" class="Padrao-Quarternária Select-Content" onchange="Clicar(this.value)"> 
                                <option value="Conflito-de-dados">Conflito de Dados</option>
                                <option value="Orientação">Orientação</option>
                                <option value="Sugestão">Sugestão</option>
                                <option value="Demanda">Demanda</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="drop-app">
                    <div class="Orientações">
                        <h4 class="drop1 Padrao-Terciária">Orientação:</h4>
                        <select name="Orientações" id="Orientacoes" class="Padrao-Quarternária Select-Content" onchange="RevelarProblemaDrop2(this.value)">
                            <option value="Dificuldade em Scrollar">Função Scrollar</option>
                            <option value="Dificuldade em Localizar Conteúdo">Localizar Conteúdo</option>
                        </select>
                    </div>
                    <div class="Demanda-Option">
                        <h4 class="drop1 Padrao-Terciária">Demanda:</h4>
                        <select name="Demanda-Option" id="Demanda-Option" class="Padrao-Quarternária Select-Content" onchange="RevelarProblemaDrop2(this.value)">
                            <option value="Encaminhado">Encaminhado</option>
                            <option value="Reclamação">Reclamação</option>
                        </select>
                    </div>
                    <div class="dropdown-select Padrao-Terciária">
                        <span class="Span-drops">  
                            <h4 class="drop1 Padrao-Terciária">Aplicação:</h4>
                            <select name="" id="Apps" class="drop1-2 Padrao-Quarternária Select-Content"  onchange="Clicar(this.value)"> 
                                <option value="Academico">Acadêmico</option>
                                <option value="Medsoft-Pro">Medsoft Pro</option>
                                <option value="Recursos">Plantão de Recursos</option>
                                <option value="MEDELETRO">MedEletro</option>
                                <option value="AreaRestrita">Área Restrita</option>
                                <option value="Concursos">Concursos</option>
                                <option value="Outros">Outros</option>    
                            </select> 
                            <br>              
                            <div class="drop2 Padrao-Terciária">
                                <h4 class="Area Padrao-Terciária"> Área: </h4>
                                    <select name="" id="Area-Med" class="Padrao-Quarternária Select-Content" onchange="RevelarProblemaDrop2(this.value)">
                                        <option value="Login">Login</option>
                                        <option value="Aula">Aula</option>
                                        <option value="Material">Material</option>
                                        <option value="Questões">Questões</option>
                                        <option value="Medsmart">Medsmart</option>
                                        <option value="Revalida">Revalida</option>
                                        <option value="Mentoria">Mentoria</option>
                                        <option value="Cronograma">Cronograma</option>
                                        <option value="Simulados">Simulados</option>
                                        <option value="Concurso_na_Integra">Concursos na Íntegra</option>
                                        <option value="Monta_Provas">Monta Provas</option>
                                        <option value="Slide_de_Aula">Slide de Aula</option>
                                        <option value="MedPlanner">MedPlanner</option>
                                        <option value="Material_Virtual">Material Virtual</option>
                                        <option value="Atualizações_e_Erratas">Atualizações e Erratas</option> 
                                        <option value="Medcode">Medcode</option>
                                        <option value="Instalacao">Instalação</option>
                                        <option value="No Papo">No Papo</option>
                                        <option value="Administrativo">Administrativo</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                    <div class="Problemas-Drop2">
                                        <div class="Problema-Login">
                                            <h4 class="Problema-Login-H4 Padrao-Terciária"> Problema: </h4>
                                            <select name="Login" id="P-Login" class="Padrao-Quarternária Select-Content">
                                                <option value="Acesso_Bloqueado">Acesso Bloqueado</option>
                                                <option value="Travamento_em_configuração de Ambiente"> Travamento em configuração de ambiente</option>
                                                <option value="E-mail_nao_cadastrado"> E-mail não cadastrado </option>
                                                <option value="Login_Não_carrega">Login não Carrega</option>
                                                <option value="Servico_indisponivel">Procedimento indisponível</option>
                                                <option value="Erro_de_Senha">Erro de Senha</option>
                                                <option value="Reset_de_Senha">Reset de Senha</option>
                                                <option value="Usuario_sem_OV_permitida">Usuário sem OV permitida</option>
                                                <option value="Logout">Logout</option>
                                                <option value="Instabilidade_Momentanea">Instabilidade momentânea</option>
                                                <option value="Assinatura_de_Contrato">Assinatura de Contrato</option>
                                                <option value="Usuario_não_cadastrado">Usuário não Cadastrado</option>
                                                <option value="Duplicidade_de_Cadastro">Duplicidade de Cadastro</option>
                                                <option value="Regras_de_Acesso">Regras de Acesso</option>
                                                <option value="Duvida">Dúvida</option>
                                            </select>
                                        </div>
                                        <div class="Problema-Aulas">
                                            <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                            <select name="Problemas aulas" id="P.Aulas" class="Padrao-Quarternária Select-Content">
                                                <option value="Videos não carregam">Vídeos não carregam</option>
                                                <option value="Aulas_Presenciais">Aulas Presenciais</option>
                                                <option value="Videos_Travando">Vídeos Travando</option>
                                                <option value="Videos_Indisponiveis">Vídeos Indisponiveis</option>
                                                <option value="Videos_Trocados">Vídeos Trocados</option>
                                                <option value="Resolução_de_Video">Resolução de vídeo</option>
                                                <option value="Conflito_na_Barra_do_Player">Conflito na Barra do Player</option>
                                                <option value="Funcao Avancar_/_Retoceder"> Função Avançar / Retroceder </option>
                                                <option value="Qualidade_dos_videos"> Qualidade dos Vídeos</option>
                                                <option value="Qualidade_dos_audios"> Qualidade dos Áudios</option>
                                                <option value="Video_sem_Audio"> Vídeo sem Áudio</option>
                                                <option value="Aba_Indisponivel"> Aba Indisponível</option>
                                                <option value="Conflito_em_porcentagem">Conflito em Porcentagem</option>
                                                <option value="Tela_Cheia">Tela Cheia</option>
                                                <option value="Dificuldade_em_download">Dificuldade em download</option>
                                                <option value="Aulas_Repetidas">Aulas Repetidas</option>
                                                <option value="Bloco_de_Material_Anterior">Bloco de Material Anterior</option>
                                                <option value="Duvida">Dúvida</option>
                                            </select>
                                        </div>
                                        <div class="Problema-Materiais">
                                            <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                            <select name="Problema Materiais" id="P-Materiais" class="Padrao-Quarternária Select-Content">
                                                <option value="Apostila_Indisponivel">Apostila Indisponivel</option>
                                                <option value="Apostila_nao_Carrega">Apostila não Carrega</option>
                                                <option value="Video_de_apostila_nao_Carrega">Vídeo de apostila não Carrega</option>
                                                <option value="Imagens_nao_carregam">Imagens não carregam</option>
                                                <option value="Imagens_Trocadas">Imagens Trocadas</option>
                                                <option value="Erro_de_requisição">Erro de requisição</option>
                                                <option value="Marcação_de_texto">Marcação de texto</option>
                                                <option value="Anotações">Anotações</option>
                                                <option value="Indice_de_Apostila">Índice de Apostila</option>
                                                <option value="Vídeo_de_apostila_Indisponivel">Vídeo de apostila Indisponível</option>
                                                <option value="Aba_Indisponível">Aba Indisponível</option>
                                                <option value="Apostila_Desconfigurada">Apostila Desconfigurada</option>
                                                <option value="Tela_cheia_em_vídeos">Tela cheia em vídeos</option>
                                                <option value="Dificuldade_em_download">Dificuldade em download</option>
                                                <option value="Dúvida">Dúvida</option>
                                            </select>
                                        </div>
                                        <div class="Problema-Questoes">
                                            <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                            <select name="Problema Questões" id="P-Questões" class="Padrao-Quarternária Select-Content">
                                                <option value="Resetar_Questoes">Resetar Questões</option>
                                                <option value="Respostas_não_ficam_salvas">Respostas não ficam salvas</option>
                                                <option value="Questões_Duplicadas">Questões Duplicadas</option>
                                                <option value="Questões_Indisponiveis">Questões Indisponiveis</option>
                                                <option value="Filtro_de_Questoes">Filtro de Questões</option>
                                                <option value="Imprimir_Questoes">Imprimir Questões</option>
                                                <option value="Conflito_em_Porcentagem">Conflito em Porcentagem</option>
                                                <option value="Aba_Indisponivel">Aba indisponível</option>
                                                <option value="Problemas_em_imagem">Problema em imagem</option>
                                                <option value="Dificuldade_em_favoritar">Dificuldade em favoritar</option>
                                                <option value="Dificuldade_em_download">Dificuldade em download</option>
                                                <option value="Gabarito_Comentado">Gabarito Comentado</option>
                                                <option value="Dificuldade_em_depositar_Duvidas">Dificuldade em depositar dúvidas</option>
                                                <option value="Duvida">Dúvida</option>
                                            </select>
                                        </div>
                                        <div class="Problema-Medsmart">
                                            <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                            <select name="Problema Medsmart" id="P-MedSmart" class="Padrao-Quarternária Select-Content">
                                                <option value="Medsmart_Indisponivel">MedSmart Indisponível</option>
                                                <option value="Medsmart_não_Carrega">MedSmart não Carrega</option>
                                                <option value="Questões_já_realizadas">Questões já realizadas</option>
                                                <option value="Questões_Repetidas">Questões Repetidas</option>
                                                <option value="Metricas"> Métricas</option>
                                                <option value="Revisões_não_carregam">Revisões não carregam</option>
                                                <option value="Temas_nao_visto">Temas não vistos</option>
                                                <option value="Questoes_nao_contabilizam">Questões não Contabilizam</option>
                                                <option value="Duvida">Dúvida</option>
                                                <option value="Sugestao">Sugestão</option>
                                            </select>
                                        </div>
                                    </div>
                                        <div class="Problema-Revalida">
                                            <h4 class="Problema-Revalida-H4 Padrao-Terciária">Problema:</h4>
                                            <select name="Problema_Revalida" id="P-Revalida" class="Padrao-Quarternária Select-Content">
                                                <option value="Indisponivel">Indisponível</option>
                                                <option value="Duvida">Dúvida</option>
                                            </select>
                                        </div>
                                    <div class="Problema-Mentoria">
                                        <h4 class="Problema Padrao-Terciária"> Problema:</h4>
                                        <select name="Problema_Mentoria" id="P-Mentoria" class="Padrao-Quarternária">
                                            <option value="Conteudo_Indisponivel">Conteúdo Indisponivel</option>
                                            <option value="Duvida">Dúvida</option>

                                        </select>
                                    </div>
                                    <div class="Problema-Cronograma">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                            <select name="Problema Crongorama" id="P-Cronograma" class="Padrao-Quarternária Select-Content">
                                                <option value="Conteudos_não_liberados">Conteúdos não liberados</option>
                                                <option value="Cronograma_Indisponivel">Cronograma Indisponível</option>
                                                <option value="Cronograma_Divergente">Cronograma Divergente</option>
                                                <option value="Imprimir_Cronograma">Imprimir Cronograma</option>
                                                <option value="Duvida">Dúvida</option>
                                            </select>
                                    </div>
                                    <div class="Problema-Simulados">
                                        <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                        <select name="Problema Simulados" id="P-Simulados" class="Padrao-Quarternária Select-Content">
                                            <option value="Reset_Simulado">Reset Simulado</option>
                                            <option value="Simulado_Nao_Carrega">Simulado Não Carrega</option>
                                            <option value="Simulado_Indisponivel">Simulado Indisponivel</option>
                                            <option value="Simulado_nao_Finaliza">Simulado Não Finaliza</option>
                                            <option value="Filtro_de_Ranking">Filtro de Ranking</option>
                                            <option value="Ranking_em_Processamento">Ranking em processamento</option>
                                            <option value="Dificuldade_em imprimir"> Dificuldade em imprimir</option>
                                            <option value="Nota_Divergente">Nota Divergente</option>
                                            <option value="Multimidia_Indisponivel">Multimídia Indisponível</option>
                                            <option value="Prazo_Encerrado">Prazo Encerrado</option>
                                            <option value="Mètrica_de_desempenho">Métrica de Desempenho</option>
                                            <option value="Duvida">Dúvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Concurso-Integra">
                                        <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                        <select name="Problema Concurso na Integra" id="P-C-Integra" class="Padrao-Quarternária Select-Content">
                                            <option value="Imprimir_Provas">Imprimir Provas</option>
                                            <option value="Prova_não_Encontrada">Prova não Encontrada</option>
                                            <option value="Ranking_de_acertos">Ranking de Acertos</option>
                                            <option value="Prova_não_carrega">Prova não Carrega</option>
                                            <option value="Função_Indisponivel">Função Indisponível</option>
                                            <option value="Dúvida"> Dùvida </option>
                                        </select>
                                    </div>

                                    <div class="Problema-Monta-Provas">
                                        <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                        <select name="Problema Mona Provas" id="P-M-Provas" class="Padrao-Quarternária Select-Content">
                                            <option value="Pesquisa_por_temas">Pesquisa por temas</option>
                                            <option value="Especialidade">Especialidade</option>
                                            <option value="Concurso">Concurso</option>
                                            <option value="Conflito_em_filtro_de_ano">Conflito em filtro de ano</option>
                                            <option value="Filtros_Especiais">Filtros Especiais</option>
                                            <option value="Dúvida">Dúvidas</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Slide-de-Aulas">
                                        <h4 class="Problema Padrao-Terciária"> Problema: </h4>
                                        <select name="Problema SLide de aula" id="P-Slide-de-Aula" class="Padrao-Quarternária Select-Content">
                                            <option value="Slide_Indisponivel">Slide Indisponivel</option>
                                            <option value="Mapa_Mental_Indisponivle">Mapa Mental Indisponível</option>
                                            <option value="Slide_nao_Carrega">Slide não Carrega</option>
                                            <option value="Mapa_Mental_não_Carrega">Mapa mental não carrega</option>
                                            <option value="Video_mapa_não_carrega">Vídeo Mapa Mental não carrega</option>
                                            <option value="Duvida">Dùvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Medplanner">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema Medplanner" id="P-Medplanner" class="Padrao-Quarternária Select-Content">
                                            <option value="Função_Indisponível">Função Indisponível</option>
                                            <option value="Função_não_Carrega">Função não Carrega</option>
                                            <option value="Informação">Informação</option>
                                            <option value="Duvida">Dúvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Material-Virtual">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema Material Virtual" id="P-M-Virtual" class="Padrao-Quarternária Select-Content">
                                            <option value="Material_Virtual_Indisponivel">Material Virtual Indisponivel</option>
                                            <option value="Dificuldade_em_baixar">Dificuldade em baixar</option>
                                            <option value="Dificuldade_em_imprenssão">Dificuldade em impressão</option>
                                            <option value="Duvida">Dúvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Atualizacao-Erratas">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema Materiais Virtuais" id="P-M-V" class="Padrao-Quarternária Select-Content">
                                            <option value="Dificuldade_em_impressão">Dificuldade de impressão</option>
                                            <option value="Conteudos_Indisponiveis">Conteúdos Indisponíveis</option>
                                            <option value="Dificuldade_em_baixar">Dificuldade em baixar</option>
                                            <option value="Duvida">Dúvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Medcode">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema Medcode" id="P-Medcode" class="Padrao-Quarternária Select-Content">
                                            <option value="Leitura_QR_Code">Leitura QR Code</option>
                                            <option value="Tela_Preta">Tela Preta</option>
                                            <option value="Duvida">Dúvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Instalacao">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema Instalação" id="P-Instalacao" class="Padrao-Quarternária Select-Content">
                                            <option value="Dificuldade_em_instalar_no_mac">Dificuldade em instalar no Mac</option>
                                            <option value="Dificuldade_em_instalar_no_windows">Dificuldade em instalar no Windows</option>
                                            <option value="Dificuldade_em_instalar_no_smartphone">Dificuldade em instalar no Smartphone</option>
                                            <option value="Dificuldade_em_instalar_no_Tablet">Dificuldade em instalar no Tablet</option>
                                            <option value="Requisitos_Minimos">Requisitos Minimos</option>
                                        </select>
                                    </div>
                                    <div class="Problema-NoPapo">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema No Papo" id="P-NoPapo" class="Padrao-Quarternária Select-Content">
                                            <option value="Conteudo_não_Disponivel">Conteúdo Não Disponível</option>
                                            <option value="Entrevista_Travando">Entrevista Travando</option>
                                            <option value="Entrevista_não_carrega">Entrevista não carrega</option>
                                            <option value="Conflito_em_Porcentagem">Conflito em Porcentagem</option>
                                            <option value="Duvida">Dúvida</option>
                                        </select>
                                    </div>
                                    <div class="Problema-Administrativo">
                                        <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                        <select name="Problema Administrativo" id="P-Administrativo" class="Padrao-Quarternária Select-Content">
                                            <option value="Funcao_Indisponivel"> Função Indisponivel </option>
                                            <option value="Boleto_não_carrega">Boleto não Carrega</option>
                                            <option value="Notas_Fiscais">Notas Fiscais</option>
                                        </select>
                                    </div>
                                    <div class="Problemas-Outros">
                                        <h4 class="Problema Padrao-Terciária">Problemas:</h4>
                                        <select name="Outros problemas" id="P-Outros" class="Padrao-Quarternária Select-Content">
                                            <option value="Dificuldade_em_rolar_a_tela">Dificuldade em rolar a tela</option>
                                            <option value="Area_de_treinamento_indisponivel">Área de treinamento indisponível</option>
                                            <option value="Curso_indisponivel">Curso indisponível</option>
                                            <option value="Tela_preta">Tela preta</option>
                                            <option value="Tela_Branca">Tela Branca</option>
                                            <option value="Travamentos">Travamentos</option>
                                            <option value="Notificacoes">Notificações</option>
                                            <option value="Rotacao_de_tela">Rotação de telas</option>     
                                            <option value="Dificuldade_em_depositar_duvidas">Dificuldade em depositar dúvidas</option>
                                            <option value="Duvidas_Academicas">Dúvidas Acadêmicas</option>
                                            <option value="Checklist">Checklist</option>
                                            <option value="Duvidas">Dúvidas</option>
                                            <option value="Sugestão">Sugestão</option>
                                            <option value="Retorno_de_aluno">Retorno de aluno</option>
                                            <option value="Não_identificado">Não Identificado</option>
                                            <option value="Liberação_Indevida"></option>
                                        </select>
                                    </div>




                                </div>
                                    <div class="drop3">
                                    <h4 class="Area Padrao-Terciária"> Àrea: </h4>
                                    <select name="" id="Area-Rec" onchange="RevelarProblemaDrop3(this.value)" class="Padrao-Quarternária Select-Content">
                                        <option value="Login">Login</option>
                                        <option value="Perfil">Perfil</option>
                                        <option value="Forum-Pré">Forum Pré</option>
                                        <option value="Forum-Pró"> Forum Pró</option>
                                        <option value="Ranking">Ranking</option>
                                        <option value="Outros">Outros</option>
                                    </select>

                                    <div class="Problema-Drop3">
                                        <div class="Problema-Login-D3">
                                            <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                            <select name="Login D3" id="P-Login-D3" class="Padrao-Quarternária Select-Content">
                                                <option value="Acesso_Indisponivel">Acesso Indisponivel</option>
                                                <option value="Aluno_Cancelado_meio_do_ano">Aluno cancelado meio de ano</option>
                                                <option value="Aluno_Cancelado">Aluno Cancelado</option>
                                                <option value="Erro_de_Digitação">Erro de Digitação</option>
                                                <option value="Regra_de_Acesso">Regra de Acesso</option>
                                            </select>
                                        </div>
                                            <div class="Problema-Perfil-D3">
                                                <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                                <select name="Problema Perfil" id="P-Perfil-D3" class="Padrao-Quarternária Select-Content">
                                                    <option value="Excluir_Foto">Excluir Foto</option>
                                                    <option value="Análise_de_Recurso">Análise de Recursos</option>
                                                </select>
                                            </div>
                                            <div class="Problema-ForumPre-D3">
                                                <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                                <select name="Problema Forum Pré" id="P-ForumP-D3" class="Padrao-Quarternária Select-Content">
                                                    <option value="Exclusão_de_comentário">Exclusão de comentário</option>
                                                    <option value="Análise_de_Recursos">Análise de Recursos</option>
                                                </select>
                                            </div>
                                            <div class="Problema-ForumPos-D3">
                                                <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                                <select name="Problema Forum Pos" id="P-ForumPos-D3" class="Padrao-Quarternária Select-Content">
                                                    <option value="Exclusão_de_comentário">Exclusão de Comentário</option>
                                                </select>
                                            </div>
                                            <div class="Problema-Ranking">
                                                <h4 class="Problema Padrao-Terciária">Problema:</h4>
                                                <select name="Ranking-Problema" id="P-Ranking-D3" class="Padrao-Quarternária Select-Content">
                                                    <option value="Exclusão_de_notas">Exclusão de Notas</option>
                                                </select>
                                            </div>
                                            <div class="Problema-Outros">
                                                <h4 class="Problema Padrao-Terciária">Problema</h4>
                                                <select name="Problema-Outros-D3" id="P-Outros-D3" class="Padrao-Quarternária Select-Content">
                                                    <option value="Provas_Indisponíveis"> Provas Indisponíveis</option>
                                                    <option value="Dùvidas">Dúvidas</option>
                                                </select>
                                            </div>
                                    </div>

                                </div>
                                
                                    <div class="drop4">
                                        <h4 class="Area Padrao-Terciária"> Área: </h4>
                                        <select name="" id="Area-Eletro" onchange="RevelarProblemaDrop4(this.value)" class="Padrao-Quarternária Select-Content">
                                            <option value="Login">Login</option>
                                        </select>
                                        <div class="Problema-Login-D4">
                                            <h4 class="Problema Padrao-Terciária">Problema</h4>
                                            <select name="Problema Login" id="Problema Login-D4" class="Padrao-Quarternária Select-Content">
                                                <option value="Usuário_não_cadastrado">Usuário não Cadastrado</option>
                                                <option value="CPF_Bloqueado">CPF Bloqueado</option>
                                            </select>
                                        </div>

                                    </div>
                                        <div class="drop5">
                                            <h4 class="Area Padrao-Terciária">Área:</h4>
                                            <select name="Restrita" id="Area-Res" class="Padrao-Quarternária Select-Content">
                                                <option value="Login">Login</option>
                                                <option value="Financeiro">Financeiro</option>
                                                <option value="Dados_Cadastrais"> Dados Cadastrais </option>
                                                <option value="Contratos">Contratos</option>
                                                <option value="Imagens_da_semana">Imagens da semana</option>
                                                <option value="Medcliping">Medcliping</option>
                                                <option value="Headlines">Headlines</option>
                                                <option value="Autorizacao_do_portador"> Autorização ao portador</option>
                                            </select>
                                        </div>
                                    <div class="drop6">
                                        <h4 class="Concurso-Dropdown Padrao-Terciária">Área:</h4>
                                        <select name="" id="Concurso-Dropdown" class="Padrao-Quarternária Select-Content">
                                            <option value="Login">Login</option>
                                            <option value="Edital_nao_Encontrado">Edital não Encontrado</option>
                                            <option value="Pagina_nao_carrega">Página não carrega</option>
                                        </select>
                                    </div>
                        </span>
                    </div>


                </div>
                

                <button value="Aplicar" id="btn_dadosIII" onclick="DadosIII()"> <img src="/public//img/Icones-menu/Aplicar.icon.svg" alt=""> </button>
            </div>

            <textarea name="Detalhes" class="Padrao-Quarternária" id="Details" cols="30" rows="10" placeholder="Descrição do problema" class="inputII_total"></textarea>
        </div>
        
        <!-- <button onclick="abrirtab('form2')">&#11013;</button>
            <button onclick="abrirtab('form4')">&#10145;</button> -->
            
        </div>
            </div>
        </div>
        <div id="form4" class="form-content">
        
        </div>
       </div>
       <div class="line">
           <hr>
       </div>
    </article>
    </section>
<script src="/Scripts/js-base.js"></script>
<script src="/Scripts/index.js"></script>
</body>
</html>