<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Styles/Login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="676725718949-m0u3n2191f4eakc5rfleqfp6b5jj478l.apps.googleusercontent.com">
</head>
<body>
    <header>

        <img src="img/medgrupo-imagem.png" alt="">
    </header>
    <article>
        <div class="login">
            <div class="Login-Content">
                <h4 class="h3-Login">Login*</h4>
                <input type="email" name="email"  id="Email-Login">

                <h4 class="H3-Senha">Senha*</h4>
                <input type="password" name="Senha"  id="Senha-Login">

            <div class="detalhes">
                <input type="checkbox" name="" id="Lembrar-checkbox">
                <h4 class="lembrar-h4">Lembrar-me</h4>
                

                <a href="#" 
                class="Esqueceu-A-Senha">Esqueceu a senha?</a>
            </div>
            </div>
            <div class="botoes-content">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <button class="signOut" onclick="signOut()">Signout</button>
            </div>
            <a href="#" class="obs-A">
            <p class="obs">Não possui o Email corporativo? Clique aqui.</p> </a>
        </div>
    </article>
    
 <script src="/Scripts/login.js"></script>
</body>
</html>