<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Styles/Login.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <header>

        <img src="img/medgrupo-imagem.png" alt="">
    </header>
    <article>
        <div class="login">
            <div class="Login-Content">
                <h4 class="h3-Login">Login*</h4>
                <input type="email" name="email"  id="Email-Login">

                <h4 class="H3-Senha">Senha*</h4>
                <input type="password" name="Senha"  id="Senha-Login">

            <div class="detalhes">
                <input type="checkbox" name="" id="Lembrar-checkbox">
                <h4 class="lembrar-h4">Lembrar-me</h4>
                

                <a href="#" 
                class="Esqueceu-A-Senha">Esqueceu a senha?</a>
            </div>
            </div>
            <div class="botoes-content">
                <div id="g_id_onload"
                data-client_id="676725718949-m0u3n2191f4eakc5rfleqfp6b5jj478l"
                data-login_uri="http://localhost:3005/Login"
                data-auto_prompt="false">
             </div>
             <div class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left">
             </div>
            </div>
        </div>
    </article>
    
 <script src="../Scripts/login.js"></script>
</body>
</html>