
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="Styles/Cadastro.css">
</head>
<body>
    <header>
        <img src="https://marketing.medgrupo.com.br/medsmart/img/logo-medgrupo.a0ea0f9e.svg" alt="">
    </header>
    <article>
        <form autocomplete="off">
            <div class="login">
                <div class="Login-Content">
                    <h4 class="h3-Login">Digite seu Email*</h4>
                    <input type="email" name="email" id="Email-Login">
                    <small id="textEmail"></small>

                    <h4 class="H3-Senha">Digite sua senha*</h4>
                    <input type="password" name="Senha" id="Senha-Login">
                    <small id="TextSenha"></small>
                    <h4 class="H3-Repita-Senha">Repita sua senha*</h4>
                    <input type="password" name="Senha" id="Repita-Senha-Login">
                </div>
                <small id="textform"></small>
                <div class="botoes-content">
                    <button id="submit">Cadastrar-se</button>
                </div>
                <a href="#" class="obs-A">
                    <p class="obs">Não possui o Email corporativo? Clique aqui.</p>
                </a>

            </div>
        </form>
        <script src="Scripts/Cadastro.js"></script>
    </article>

</body>
</html>