article {
    background-color: #f5f7fa;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    position: absolute;

}

article > .title {
    margin-top: 20px;
    margin-left: 26px;
    color: #656565;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > .title > hr {
    margin-bottom: 20px;
}

article > .title > h1 {
    margin-bottom: 15px;
}

article > .form-content {
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: 70%;
    margin-top: 0px;
    margin-left: 26px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    border-style: ridge;
    margin-bottom: 20px;
    border-top: none;
    display: none;

}

@media (max-width: 1000px) {

    article > .form-content {
        margin: auto;
        margin-top: 30px;
    }

    article > .title > h1 {
        text-align: center;
    }

}

article > .line {
    margin-top: 36px;
    margin-left: 26px;
}

#line {
    margin-top: 50px;
}

.input_total{
    width: 50vw;
}
.tabela_dados{
    margin-left: 0%;
}

