@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');


@font-face {
    font-family: Baloo;
    src: url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
}

* { 
    margin: 0%;
    padding: 0%;


}

@media screen and (min-width: 1000px ) {

main{
    position: absolute;
    background: #f2f2f2;
    top: 114px;
    right: -4;
    padding-left: 245px;
    margin-left: 285px;
    height: 85%;
    width: 54%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.titulo {
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-family: 'Baloo Da 2', cursive;
    position: absolute;
    margin: -18px;
    margin-left: -292px;
    width: 1174px;
}
.box-principal {
    background: #e91212;
    width: 1210px;
    height: 600px;
    margin-top: 50px;
    border-radius: 30px;
}

.container {
    width: 700px;
}

h1 {
    display: inline-block;
    padding-top:20px;
    padding-left: 100px;
}


.box-esquerdo {
    position: absolute;
    background: white;
    width: 25%;
    height: 70%;
    margin-top:3em;
    margin-left: 5em;
    border-radius: 17px;
}

.foto-de-perfil{
    background: #A3241D;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 40px auto;
}


.box-foto img {
    
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 1px auto;


}

.nome-usuario {
    position: absolute;
    font-weight: bold;
    margin-left: -7%;
}



.box-pequeno {
    height: 60%;
    width: 80%;
}

.lista {
    position: absolute;
    top: 20px;
    right: -4;
    height: 60%;
    width: 80%;
}


.lista li{
    text-align: center;
    position: relative;
    left: 21em;
    display: inline-block;
    background: white;
    height: 35%;
    width: 19.85%;
    margin-top: 3em;
    margin-left: 2.37em;
    left: 15em;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}


hr{
    
    margin-left: -192px;
    width: 1160px;
    position: absolute;
    margin-top: 39px;
    border-top: 1px solid #f00;
    opacity: .1;
}

.box-grande {
    position: absolute;
    background: white;
    bottom: 6%;
    left: 32.8em;
    height: 60%;
    width: 54.1%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}




.box-foto {
    position: absolute;
    background: white;
    bottom: 23.3%;
    left: 3.3em;
    height: 69%;
    width: 33%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}




.cargo {
    position: absolute;
    background: #f9f9f9;
    bottom: 35.6%;
    left: 2.9em;
    height: 13%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.turno {
    position: absolute;
    background: #f9f9f9;
    bottom: 18.6%;
    left: 2.9em;
    height: 13%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;

}


h3 {
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 13px;
    padding-top: 6px;
}

}




@media screen and (max-height: 800px ) {




main{
    position: absolute;
    background: #f2f2f2;
    top: 84px;
    right: -4;
    padding-left: 245px;
    margin-left: 285px;
    height: 85%;
    width: 54%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-family: 'Baloo Da 2', cursive;
    position: absolute;
    margin: -18px;
    margin-left: -305px;
    width: 899px;

}
.box-principal {
    background: #e91212;
    width: 1210px;
    height: 600px;
    margin-top: 50px;
    border-radius: 30px;
}

.container {
    width: 700px;
}

h1 {
    display: inline-block;
    padding-top:20px;
    padding-left: 100px;
}


.box-esquerdo {
    position: absolute;
    background: white;
    width: 25%;
    height: 70%;
    margin-top:3em;
    margin-left: 5em;
    border-radius: 17px;
}



.foto-de-perfil img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 2px auto;

}

.nome-usuario {
    position: absolute;
    font-weight: bold;
    margin-left: -7%;
}



.box-pequeno {
    height: 60%;
    width: 80%;
}

.lista {
    position: absolute;
    top: 20px;
    right: -4;
    height: 60%;
    width: 80%;
}


.lista li{
    text-align: center;
    position: relative;
    left: 21em;
    display: inline-block;
    background: white;
    height: 35%;
    width: 19.6%;
    margin-top: 2.6em;
    margin-left: 2.1em;
    left: 7.5em;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}


hr{
    margin-left: -207px;
    width: 893px;
    position: absolute;
    margin-top: 35px;
    border-top: 1px solid #f00;
    opacity: .08;
}


.box-grande {
    position: absolute;
    background: white;
    bottom: 7%;
    left: 25em;
    height: 54%;
    width: 54.7%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}






.box-foto {
    position: absolute;
    background: white;
    bottom: 19.1%;
    left: 2.4em;
    height: 69%;
    width: 32%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;


}

.box-foto img {
    
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin: 2px auto;
    
    
}

.foto-de-perfil{
    background: #A3241D;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 20px auto;
}

.cargo {
    position: absolute;
    background: #f9f9f9;
    bottom: 35.6%;
    left: 2.2em;
    height: 15%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.turno {
    position: absolute;
    background: #f9f9f9;
    bottom: 18.6%;
    left: 2.2em;
    height: 15%;
    width: 78%;
    border-radius: 17px;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

h3 {
    color: #989EA7;
    font-size: 67%;
    font-family: 'Baloo Da 2', cursive;
    padding-left: 13px;
    padding-top: 6px;
}


}

