article {
    background-color: #f5f7fa;
    height: 90%;
    width: 100%;
    display: inline-block;
    position: relative;
    position: absolute;
}

article > .capa {
    height: 50%;
}

article > .perfil { 
    background-color: #f5f7fa;
    position: relative;
    top: -50%;
    overflow-y: hidden;
    border-radius: 20px;
}


.perfil-desc {
    background-color: #f5f5f5;
    border-radius: 20px;
    width: 80%;
    padding: 0.3%;
    margin: 0.7%;
    border: 1px solid #E4E6EF;
}

.barra {
    height: 65%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-left: 1%;
    position: relative;
    top: -50%;
    display: inline-block;
    border-style: ridge;
}

.barra2 {

    height: 35%;
    width: 35%;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-left: 3%;
    position: relative;
    top: -80%;
    display: inline-block;
    border-style: ridge;
}

.barra3 {

    height: 35%;
    width: 35%;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-left: 44.5%;
    position: relative;
    top: -80%;
    display: inline-block;
    border-style: ridge; 
}


@media (max-width: 100%) {

    article > .form-content {
        margin: auto;
        margin-top: 30px;
    }

    article > .title > h1 {
        text-align: center;
    }

}

article > .line {
    margin-top: 36px;
    margin-left: 26px;
}

@media (max-width: 100%) {

    .barra {
        height: 30%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-left: 10%;
        position: relative;
        top: -26%;
        display: inline-block;
        border-style: ridge;
    }

    .barra2 {

        height: 30%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-left: 10%;
        position: relative;
        display: inline-block;
        border-style: ridge;
    }

    .barra3 {

        height: 30%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        position: relative;
        display: inline-block;
        border-style: ridge;
        margin-left: 10%;
}

}

@media (max-width: 100%) { 
    .barra {
        height: 30%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-left: 10%;
        position: relative;
        top: -26%;
        display: inline-block;
        border-style: ridge;
    }

    .barra2 {

        height: 186px;
        width: 500px;
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-left: 100px;
        position: relative;
        display: block;
        border-style: ridge;
        margin-top: 170px;
    }

    .barra3 {

        height: 186px;
        width: 500px;
        background-color: rgb(255, 255, 255);
        display: flex;
        position: relative;
        display: inline-block;
        border-style: ridge;
        margin-left: 100px;
        margin-top: 20px; 
}

}